<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Title of tab -->
        <title>Organization Manager</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <header>
            <h1>Hero Database Title</h1>
        </header>

        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
            <!--Hamburger button-->
            <button class="navbar-toggler" data-toggle="collapse" data-target='#navbar-menu'>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <!--nav bar with centered mx-auto links-->
                <ul class="navbar-nav mx-auto" style="padding-bottom: 4px; font-size: 1.2rem;">
                    <a class="nav-item nav-link" href="heroes">Hero/Villain</a>
                    <a class="nav-item nav-link" href="superpowers">Superpower</a>

                    <a class="nav-item nav-link" href="organizations">Organization</a>
                    <a class="nav-item nav-link" href="locations">Location</a>
                    <a class="nav-item nav-link" href="sightings">Sighting</a>

                </ul>
            </div>
        </nav>

        <div class="col-12 m-1 text-center" 
             th:if="${!errors.isEmpty()}">
            <p class="alert alert-danger" th:each="error : ${errors}" 
               th:text="${error.message}">Error message</p>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Add Organization</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="addOrganization" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                            Name</label>
                        <div class="col-9">
                            <input type="text" name="name" 
                                   id="name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">
                            Description</label>
                        <div class="col-9">
                            <input type="text" name="description" 
                                   id="description" class="form-control"/>
                        </div>
                    </div>
                    <!-- Location Display Begins -->
                    <div class="form-group row">
                        <label for="location" class="col-3 col-form-label">
                            Location</label>
                        <div class="col-9">
                            <select id="location" name="locationId" class="form-control" >
                                <option selected = "selected" value ="">- select -</option>
                                <option th:each="location : ${locations}" 
                                        th:value="${location.locationId}" 
                                        th:text="${location.name + location.address + location.city + location.zip}">
                                    Location Name </option>
                            </select>
                        </div>
                    </div>
                    <!-- Location Display End -->
                    <!-- Hero Display Begins -->
                    <div class="form-group row">
                        <label for="heroes" class="col-3 col-form-label">
                            Heroes</label>
                        <div class="col-9">
                            <select multiple id="heroes" name="heroId" 
                                    class="form-control">
                                <option th:each="hero : ${heroes}" 
                                        th:value="${hero.heroId}" 
                                        th:text="${hero.name + hero.description + hero.type}">
                                    Hero Name</option>
                            </select>
                        </div>
                    </div>
                    <!-- Hero Display Ends-->
                    <div class="form-group row">
                        <label for="email" class="col-3 col-form-label">
                            Email</label>
                        <div class="col-9">
                            <input type="text" name="email" 
                                   id="Email" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="type" class="col-3 col-form-label">
                            Type</label>
                        <div class="col-9">
                            <select id="types" name="type" class="form-control">
                                                      
                            <option selected = "selected" value ="">- select -</option>
                            <option value="hero">Hero</option>
                            <option value="villain">Villain</option>
                           
                        </select>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Add Organization</button>
            </form>
        </div>
    </div>
    <!-- Table with Additional thymeleaf starts here    -->
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- table header names-->
                        <th>Id</th>
                        <th>Name</th>
                        <th>Details</th>    
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- for loop and hrefs to perform other actions-->
                    <tr th:each="organization : ${organizations}">
                        <td th:text="${organization.organizationId}">Organization Id</td>
                        <td th:text="${organization.name}">Name</td>
                        <td><a href="#" th:href="@{/organizationDetail(id=${organization.organizationId})}">Details</a></td>
                        <td><a href="#" th:href="@{/editOrganization(id=${organization.organizationId})}">Edit</a></td>
                        <td><a href="#" th:href="@{/deleteOrg(id=${organization.organizationId})}">Delete</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;
